



.body1{
    top: 730px;
    left: 10px;
    right: 10px;
    min-width:350px;
    width:80%;
    max-width:850px;
    
    height:590px;
    display: flex;
    position: relative;
    margin: 0 auto;
    z-index: 2;
}
h1{
  color:rgb(135, 145, 122);
  padding-bottom:15px
}
.backgroundText{
  position: absolute;
  background-color: rgb(255, 255, 255);
  padding: 20px 10px;
  
  
  max-width:450px;
  top: 20px;
  left:10px;
  right:10px;
  bottom:20px;
}


/*gap analysis sec*/
.gapAnalysisDiv{
  position: relative; 
  top: 800px;
  z-index: 2;
  text-align: center

}
.tableDiv{
  overflow-x:scroll;
  width:85%;
  min-width:350px;
  
  max-width:850px;
  margin: 0 auto
}
.tableDiv table{
  border: none;
  background-color: rgb(131, 159, 95);
}
.tableDiv tr{
  background-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-size: 18px;
}
.tableDiv th{
  width:210px;
  padding: 10px 2px;
}
td {
  padding: 10px 2px;
  color: rgb(90, 116, 58);
  }
#differentText{
  top:900px;
  z-index:10;
  min-width:350px;
}










@media only screen and (min-width:1000px){
  #removeGreen{
    display:none
  }
  .ourValues{
    flex-direction: row;
  }
  
}


/*my prototype

input{
    width: 190px;
    min-height:35px;
    
    
    
}
label{
    padding:10px 0px;
}


/*main prototype div*/
.prototypeSection {
  position: relative;
  display: flex;
  align-items: center;
  

  top: 180px;
  right: 0;
  left: 0;
  margin: 0 auto;
  
  min-width:375px;
  max-width: 850px;
  z-index: 5;
 
  height: 650px;
}

/*inner section of prototype div 1/2*/

.prototypePages,.demo{
  position: relative;
  justify-content: center;
  align-items: center;
  
  flex-direction: column;
}
.demo {
  display: flex;
  
  /*change top to 900px*/
  
  margin: 0 auto;

  

}
.prototypePages{
  display:none
}

  

/*within demoSection*/

.blackDiv{
  position: absolute;
  display: flex;
  justify-content: center;

  width: 315px;
  height: 567px;

  border-radius: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

  background-color: black;
}

.speakerHole {
  position: absolute;

  top: 20px;
  margin: 0 auto;

  width: 100px;
  height: 20px;
  border-radius: 40px;

  background-color: black;
  z-index:4
}


.whiteScreen {
  display: flex;
  justify-content: center;

  height: 550px;
  width: 295px;

  border-radius: 25px;
  margin: 7px;

  background-color: rgb(233, 227, 227);
}

.prototypePages input{
  background-color: rgb(213, 212, 213); 
  font-size:18px;
  height:35px;
  border:none;
}


/*opening screen*/
#openingPage{
  display:flex;
  z-index:2;
  text-align: center;
}
.disclaimer{
  padding-bottom:10px;
  font-size:10px;
  width:250px;
  margin: 0 auto
}
.logo{
  width: 100px;
  border-radius: 50px; 
}

.title {
  font-size:35px;
  font-weight:700
}

/*sign in*/
#signInPage{
  position: absolute;
  justify-content: center;
  align-items: center;
  
  flex-direction: column;
  

  top: 100px;
  font-weight:700;
}

.inputDiv label{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  font-size:15px;
}




.signIN {
  align-self: flex-start;
  margin-left: 50px; 
  padding-top: 25px;
  padding-bottom: 8px;
}




.signInBTN {
  height:35px;
  border:none;
  margin-top:20px;
  margin-bottom:10px;
  min-width:190px;
  
  padding: 5px 10px;


  background-color:rgb(165, 199, 124);
  color:white;
  font-size:19px;
  font-weight:700;
}


.signUpBTN{
  padding-left:7px;
  border:none;
  font-weight:700;
  background-color: rgb(233, 227, 227);
}
.signUpBTN:hover,.signInBTN:hover{
  cursor:pointer;
  padding-top:5px;
  border-top: 2px solid rgb(188, 201, 171)
}

.forgotDiv{
  display: flex;
  justify-content: space-evenly;
  width: 300px;
}


/*sign up page*/
#signUpPage{
  display:none;
  font-weight:700;
}
.signUpTitle{
  padding-bottom:30px;
}
.continueBTN{
  margin-top:20px;
  margin-bottom:10px;
  padding:5px;


  background-color:rgb(165, 199, 124);
  color:white;
  font-size:19px;
  font-weight:700;
  width:100px;

  border:none

}



/*general questions page change it to all inputs later*/ 
#genQuestions{
  display: flex;
  height: 380px;
  width: 250px;
  overflow-x: hidden;
}
.dietaryPref{
  display: flex;
  flex-direction: column;
  text-align: center;
  
  
  margin: 0 auto;
 
  padding-top:10px;

  align-items: center;
}
.dietaryPref p{
  align-self:flex-start;
  font-weight:700
}


.checkboxSec {
  display: flex;
}
.checkboxList {
  padding-right:3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

}

.checkboxItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Add margin for spacing between checkbox items */
}

.checkboxItem input {
  margin-right: 5px; /* Adjust the margin between checkbox and label */
}

.checkboxItem input,
.checkboxItem label {
  width: 100%;
}






  

/*home page*/
#home p{
  font-weight:700
}
.topGreen{
  position: relative;
  

  height: 100px;
  width: 295px;

  background-color: rgb(188, 201, 171);
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}
.bottomHome button{
  border:none;
  margin: 0px 10px;
  width:90px;
  height:75px;
  background-color: rgb(188,201,171);
}

.midSec{
  position:relative;
  left:50px;
  top:20px;
  
  

  
  
}
.midSec button{
  border:none;
  margin:15px 0px;
  width:200px;
  height:50px;
  background-color: rgb(213, 212, 213); 
  text-align: start;
  padding-left:10px;
  font-weight:700;
  border-bottom: 2px solid rgb(144, 144, 144);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

  
  
}

.midSec button:hover{
  cursor: pointer;
  border-top:2px solid rgb(188, 201, 171)
}


/*image section*/
.navBarImage,.homePages img {
  
  width:220px;
}
#chatbotImg{
  width:250px
}

#topHome {width:100%}

.homePages p{
  font-weight:700;
  padding: 10px 10px;
  font-size:20px
}
.homePages button{
  font-weight: 700;
  padding: 5px 10px;
  border:none;
  background-color: rgb(233, 227, 227);
}
.homePages button:hover{
  border-top:2px solid rgb(188, 201, 171)
}
.homePages{
  position: relative;
  top:50px;
}

.homePages div{
  display:flex;
  flex-direction: column;
  align-items: flex-start;

}


/*nav bar section*/


.navBarPage{
  position:relative;
  

}

.navBarPage p {
  font-weight:700;font-size:22px;
}

.bottomHome button:hover{
  cursor: pointer;
  color:white
}

/*nutriwise bot robot*/
.textNutriWise{
  height:30px;
  display:flex;
  align-items: center;
  justify-content:space-evenly;
  width:278px;
  border-top:2px solid rgb(184, 184, 184);
  padding:8px;
  position:relative;top:5px;
  background-color:rgb(238,238,238)

}
.textNutriWise button{
  border:none;
  height:20px;
  background-color: rgb(233, 227, 227);
}

.removeDemoSecLaptop{
  display: block
}

.addDemoSecLaptop{
  display: none;
}


@media only screen and (min-width:1000px){
  
  .removeDemoSecLaptop {
      display:none !important
  }
  .addDemoSecLaptop {
      display:block !important
  }



}






  
