

.individualCardDiv {
  justify-self: center;
  padding-bottom: 20px;
  padding:10px;
  
}
.sixFeatures{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 240px;
    
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    justify-content: center;
    
    min-width: 375px;
    max-width: 1050px;

    padding-bottom:150px;
    
    
    z-index: 2;
    
    
  }
  .row1Features{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  
    padding-bottom: 60px;
  
  }
  .sixFeatures button {
      justify-content: center;
      display: flex;
      flex-direction: column;
      width: 160px;
      
      min-height: 405px;
      background-color: rgb(245, 248, 245);
      align-items: center;
  
      border: none;
      border-top: 2px solid rgb(135, 145, 122);
      border-bottom: 2px solid rgb(135, 145, 122);
    }
  
  
  .sixFeatures button:hover{
      background-color:rgb(151, 162, 136) !important;
      cursor: pointer;
  
    }
  
  .sixFeatures img {
    width: 100%;
    max-height:220px;
  }

  /*product features*/
  .cardTitle{
    line-height: 20px; 
    font-size:15px;
    padding-bottom:10px;
    z-index: 1000;
    
  }

 
  .cardText{
     padding:10px;
     line-height:25px;
     display:none;
     
  }






  @media only screen and (min-width:500px){

    .sixFeatures button {
      width:250px;
      
    }
  }

  @media only screen and (min-width:900px){
    .sixFeatures button {
      width:200px;
      
    }
    
    .row1Features{
      
      grid-template-columns: repeat(4, 1fr);
      
    
    
    }
  }
  

  @media only screen and (min-width:1100px){
    .sixFeatures button {
      width:250px;
      
    }
   
  }
  