


.slider{
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    min-width:290px;
    max-width:700px;
    
    
    
    
}
.slides .but{
    width: 100%;
    display: none;
    margin: 0 auto;
    
    height:300px;
    overflow: hidden;
    
    
}
.but.displaySlide{
    display: block;
    z-index: 10;
    animation-name: fade;
    animation-duration: 3.5s;
}
.slider button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    padding: 10px 15px;
    background-color: hsla(0, 0%, 0%, 0.5);
    color: white;
    border: none;
    cursor: pointer;
}
.prev{
    left: 0;
}
.next{
    right: 0;
}
@keyframes fade {
    from {opacity: .2}
    to {opacity: 1}
}

@media only screen and (min-width:1000px){
    .slides .but{
        
        height:500px;
        
       
        
    }
}
